@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');

body{
    font-family: 'Public Sans', sans-serif;
}


/*tag global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

.logo .imagem{
    width: 100px;
}

.cabecalho{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0;
}

@media(max-width: 624px){
    .cabecalho{
        justify-content: center;
    }
    .cabecalho .logo{
        margin-bottom: 30px;
    }
}


.logo{
    align-items: center;
    display: flex;
    text-transform: uppercase;
}

.titulo{
    font-size: 17px;
    font-weight: bolder;
    margin-left: 7px;
}

.cabecalho .titulo:hover{
    color: #1ED760;
    transition: 0.2s ease-in-out;
}

.navegacao, .menu{
    display: flex;
}

.navegacao .menu .item{
    font-weight: bolder;
    margin: 10px;
    padding: 7px;
}

.navegacao .menu .item:hover{
    color: #1ED760;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.conteudo-principal .paineis{
    align-items: center;
    display: flex;
    height: 700px;
    justify-content: center;
    position: relative;
}

@media(max-width: 900px){
    .conteudo-principal .paineis{
        height: 500px;
    }
}

.conteudo-principal .paineis .imagem-painel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: 0,3s ease-in-out;
    
}

.conteudo-principal .paineis .projeto1{
    background-image: url(./imagens/painel1.jpg);
}

.conteudo-principal .paineis .projeto2{
    background-image: url(./imagens/painel2.jpg);
}

.conteudo-principal .paineis .projeto3{
    background-image: url(./imagens/painel3.jpg);
}

.conteudo-principal .paineis .imagem-painel.mostrar{
    opacity: 1;
}

.conteudo-principal .paineis .titulo{
    color: white;
    text-transform: uppercase;
    font-size: calc(1em + 1vw);
}

.conteudo-principal .paineis .seta{
    background-image: url(./imagens/seta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: calc(1em + 1vw);
    position: absolute;
    text-indent: 100%;
    overflow: hidden;
}

.conteudo-principal .paineis .seta.btn-voltar{
    left: 20px;
    transform: rotate(180deg);
}

.conteudo-principal .paineis .seta.btn-avancar{
    right: 20px;
}

.quem-somos{
  background-color: #2941AB;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.285);
}

.quem-somos .conteudo{
    display: flex;
    align-items: center;
    padding: 0 10%;
}


.quem-somos .conteudo .informacoes{
    width: 40%;
}

.quem-somos .conteudo .informacoes .titulo{
    font-size: calc(2em + 1vw);
}

.quem-somos .conteudo .imagem{
    width: 60%;
}

@media(max-width: 1200px){
    .quem-somos .conteudo{
        flex-direction: column;
        text-align: center;
        padding: 100px 30px; 
    }

    .quem-somos .conteudo .informacoes{
        width: 100%;
    }

    .quem-somos .conteudo .imagem{
        display: none;
    }


 }

.quem-somos .conteudo .titulo{
    text-align: center;
    font-size: 50px;
    color: #1ED760;
    margin: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.518) ;
}

.quem-somos .conteudo .texto{
    color: white;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
}


.rodape{
    padding: 50px 0 20px 0; 
    margin-bottom: 20px;
}

.rodape .rede-sociais{
    display: flex;
}

.rodape .rede-sociais a{
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
    border: 1px solid #111;
    border-radius: 50%;
    padding: 15px;
    width: 60px;
}


.rodape .rede-sociais a:hover{
    background-color: #1ED760;
    transition: 0.2s ease-in-out;
}

.rodape .navegacao{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.rodape .copy{
    text-align: center;
    margin-top: 20px;
}

@media(max-width:940px) {
    .rodape .navegacao{
        justify-content: center;
    }
    
}






